.header {
  background-color: gainsboro;

  ul {
    display: flex;
    padding: 1em;

    li {
      margin-left: 2em;

      &:first-child {
        margin-left: none;
      }

      &:last-child {
        margin-left: auto;
      }

      a {
        text-decoration: none;

        &.activeLink {
          text-decoration: underline;
        }
      }
    }
  }
}
